<section  class = "">
	<h1 class="uppercase font-semibold bg-gray-800 text-white">statistics </h1>
	<br>
	<p> Passed : <span class=" bg-blue-400 px-2 text-lg text-white "> <%= get_passed %> </span> </p>
	<p> Failed : <span class=" bg-red-400 px-2 text-lg text-white "> <%= get_failed %> </span> </p> 
	<p> Percentage correct : <span class=" text-lg px-2 "> <%= get_percentage %> % </span> </p>
 <p> Decision : <span class="  px-2 "> <%= get_decision %> </span> </p> 
</section>
