
<h1 class="mt-10 w-full text-center text-gray-900 text-2xl font-hairline "> About this app </h1>
<p class="px-10 text-center" > This is the demo app for my pre-defense which I (Ojong Ayuk Cynthia) will present to my supervisor for validation. The full project is in process and a stable prototype will be available soon </p>
