 <section class= "min-h-screen bg-yellow-100 bg-opacity-50  " >
	<div class="flex-grow text-gray-100 bg-green-900 bg-opacity-75  "> 
		<br><br> <br>
    	<div class="  text-center pt-20 pb-10">
			<p class="  mx-auto my-0 uppercase text-5xl font-hairline">sawa learn</p>
			<p class=" mx-auto mt-2 mb-5 text-lg"><%= t('welcome.speech') %> </p> <br />
			<p> <%= link_to "Get started" , static_welcome_url, class: " px-20 py-3 rounded-sm text-xl uppercase font-semibold  bg-gray-900 hover:bg-gray-700 ", style: "color: #ccc;" %> </p>	
		</div>

	</div>
</section>
