
<section class ="">
	
</section>
<section class="w-full">
	<div class=" mx-4 md:mx-10 ">

		<div class=" w-full flex justify-between py-2">
			<div class="font-bold text-gray-900 text-lg"> All Subjects </div>
			<div class=""><button class="border border-2 border-gray-200 px-4 py-1">Sort</button> </div>
		</div>
	</div> <hr>

	<div class=" block  mt-4 mx-10">
		<!-- loop through all the subjects and display them -->
		<% @subject.each do |subject| %>
			<div class="my-2 flex justify-between ">
				<div class="font-semibold mb-1"> <%= subject.name %> </div>	
				<div class=""> 
				
					<div class="block text-left ">
						<div>
		    					<button type="button" class=" submenu relative inline-flex  justify-center w-full rounded-md shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-indigo-500" id="menu-button"  >
		      <!-- Heroicon name: solid/chevron-down -->
		      						<svg class="-mr-1 ml-2 h-5 w-5 "  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />

		     						</svg>
			     						<div class=" sub  hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
			    							<div class="py-1  " role="none ">
											<div class =""><% if current_user && current_user.admin %>
												<%= link_to "Add lesson", new_lesson_path(sub_id: subject.id) , class: " text-green-300 block mx-2" %>
											<% end %> </div>
											<div class =""> <%= link_to "Show lessons", lessons_path(sub_id: subject.id) , class: "text-blue-400 block mx-2" %><div>
			    							</div>
			  						</div>		      
		    					</button>
		    				</div>
		    	  
					</div>
				</div>					
			</div>
			<div class="h-1 relative max-w-xl rounded-full overflow-hidden">
        			<div class="w-full h-full bg-gray-200  absolute"></div>
        			<div id="bar" class="h-full bg-green-500 relative w-0"></div>
    			</div>
			<hr>
		<% end %>
	</div>
</section>

<script>

$(function() {
    $('.submenu').on(' click', function() {
        $(this).children().toggleClass('hidden');
         $(this).children().toggleClass('z-10');
    });
});

$(function() { 
	    $('.sub').on('click', function(){
        
        });
});

</script>
