
<section class="flex flex-col justify-center content-center w-full">
<h1 class =" text-center font-hairline mt-5 text-2xl"><%= t('lesson.new.new_lesson') %></h1>
        <div class="w-full text-lg mx-20 px-10 pt-10 ">
                <div class=" ">
                        <%= render 'form', lesson: @lesson %>
                </div>
                <%= link_to t('general_buttons.back'), lessons_path %>
        </div>
</section>

