<footer class="bg-green-500 border-t border-gray-400 shadow">	
      <div class="container max-w-md text-green-800 mx-auto py-8 flex">

          <div class="flex w-full ">
            <div class="px-8">
		<h1 class="font-bold text-md text-gray-200 ">Social: </h1>
              <ul class="list-reset flex flex-row items-center text-sm pt-3">
                <li>
                <a class="inline-block  no-underline hover:text-gray-100 hover:text-underline py-1 pr-4" href="#">
                  <i class="fab fa-facebook text-2xl"></i>
                </a>
                </li>
                <li>
                <a class="inline-block no-underline hover:text-gray-100 hover:text-underline py-1 pr-4" href="#">
                  <i class="fab fa-twitter text-2xl"></i>
                </a>
                </li>
                <li>
                <a class="inline-block  no-underline hover:text-gray-100 hover:text-underline py-1 pr-4" href="#">
                  <i class="fab fa-instagram text-2xl"></i>
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
